$primary: hsl(172, 67%, 45%);
$primary-light: #9fe8df;

$very_dark: hsl(183, 100%, 15%);
$dark_grayish1: hsl(186, 14%, 43%);
$dark_grayish2: hsl(184, 14%, 56%);
$light_grayish1: hsl(185, 41%, 84%);
$light_grayish2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);



$mobile: 375px;
$desktop: 1440px;
