:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
img{
  margin-bottom: 90px;
  @media(max-width: 967px) {
    margin-bottom: 50px;
  }
}
